.column-layout {
    display: flex;
    flex-direction: column;
}
.master-view-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.row-layout {
    display: flex;
}
.group {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.navbar {
    height: max-content;
    min-width: min-content;
}
.nav-drawer {
    min-width: min-content;
    min-height: 0;
    flex-shrink: 0;
}
.view-container {
    position: relative;
    margin: 32px;
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
}
.nav-drawer::part(main) {
    width: 320px;
}
.icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
}
